*{
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 3rem auto;
    grid-template-areas:
    "head nav"
    "main main"
    "sidebar sidebar"
}
.head{
    grid-area: head;
    background-color: pink;
    align-self: center;
    display: grid;
}
.menu{
    grid-area: nav;
    background-color: beige;
    align-self: center;
    display: grid;
}
.main{
    grid-area: main;
    background-color: lightskyblue;
    display: grid;
}
.sidebar-wrapper{
    grid-area: sidebar;
    background-color: yellow;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;

    display: grid;

}

.menu ul{
    margin: 3px;
    padding: 3px;
    display: flex;
    list-style-type: none;
    justify-self: center;
}
.menu a{
    text-decoration: none;
    padding: 10px;
}
.sidebar1{
    margin-right: 2px;
    padding-top: 3px;


}
.sidebar2{

}







