*{
    box-sizing: border-box;
}
:root{
    --color-1: #22bbdd ;
    --color-2: #2c6e7b;
}
.box{
    padding: 0.8em;
    font-size: 26px;
    color: white;
    border: 1px solid white;

}
.color-1{
    background: var(--color-1);
}
.color-2{
    background: var(--color-2);
}


.grid{
     display: grid; 
     /* grid-template-columns: 1fr 1fr 1fr 3fr;  
     grid-gap: 10px; */
     /* 1 or < collumn layout can use px or % */
    /* grid-template-rows: 300px;  */
     /* fraction unit - fr  */
    /* grid-template-columns: 1fr 1fr 1fr 1fr; 

     grid-template-rows: 200px 80px; 

     gap 
    grid-column-gap: 20px;
    grid-row-gap: 20px; 

     grid-gap: 20px;  */

     /* repeat (same as doing 1fr 1fr 1fr 1fr)  */

    /* grid-template-columns: repeat(3, 1fr);  */
 /* start of new grid  */
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 60% 20% 10% 10%; 
    grid-template-areas: 
    "head head head"
    "nav nav nav"
    "section section section"
    "main main main"
    "footer footer footer" 
    
   
}

 .header{
    grid-area: head;
    font-size: 20px;
    background: url(../images/banner.jpg);
    
}
.nav{
    grid-area: nav; 
    color: white;
    
}
.section{
    grid-area: section;
}
.main{
    grid-area: main;
}
.footer{
    grid-area: footer; 
} 