.box{
    width: 500px;
    height: 200px;
    background: linear-gradient(to right, green, yellow);
    margin-bottom: 10px;
    position: relative;
}
/* linear (specify what direction) and radial gradient (from middle)*/
.box1{
    width: 500px;
    height: 200px;
    background: radial-gradient(circle, green,black);
    margin-bottom: 10px;
    position: relative;
}
.box2{
    width: 500px;
    height: 200px;
    background: linear-gradient(to right, #bdc3c7, #2c3e50);
    margin-bottom: 10px;
    position: relative;
}
.box3{
    width: 500px;
    height: 200px;
    background: tomato;
    margin-bottom: 10px;
    position: relative;
    transition-property: background-color width border-radius: ;
    transition-duration: 5s;
    transition-delay: 2s;
    transition-timing-function: ease-in-out;
}
.box3:hover{
    background-color: #009fff;
    width: 300px;
    border-radius: 50%;
}