@import 'https://fonts.googleapis.com/css?family=Raleway';
*{
    box-sizing: border-box;
    margin: 0;
}
:root{
    --main-color:#05a081;
    --light:#fff;
    --bg-1:#eee;
    --bg-2:#333;
    --shadow: 0 1px 4px rgba(80,80,80,0.8);
}


.container{
    display: grid;
    font-family: 'Raleway', sans-serif;
    background-color: var(--bg-1);
    padding: 20px;
    grid-row-gap: 1.5em;
    grid-column-gap: 1em;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 6fr 5fr 4fr 2fr;
    grid-template-areas:
    "menu menu"
    "head main"
    "head main"
    "section section"
    "footer footer"


    
}

.menu{
    grid-area: menu;

}
.menu ul{ 
    list-style-type: none; 
    padding: 0; 
    display: grid; 
    grid-gap: 20px; 
    grid-template-columns: repeat(5, 1fr); 
} 
    
    .menu a{ 
    text-decoration: none; 
    color: var(--bg-2); 
    display: block; 
    padding: 0.8em; 
    text-align: center; 
    box-shadow: var(--shadow); 
} 


.menu a:hover{
    opacity: 1;
    color: var( --light);
    background: var(--main-color);
    font-weight: bold;
    padding: 0.8em;
   box-shadow: var(--shadow);
}


.head{
    grid-area: head;
    background: url(../images/bannermidterm.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    box-shadow: var(--shadow);
    margin-bottom: 0;
}
.head h1{
    color: var(--light);
   padding-left: 10%;
   padding-top: 20%;
    padding-bottom: 5%;
   font-size: 2.5em;
}
.head p{
    color: var(--light);
    padding-left: 10%;
    padding-right: 10%;
    font-size: 20px;

}
.main-wrapper{
    grid-area: main;
}


.main1{
box-shadow: var(--shadow);
padding-top: 2em;
padding-left: 1em;
padding-bottom: 8.5em;
padding-right: 1em;
margin-bottom: 1em;
}
h2{
    font-size: 1em;
    padding-bottom: 1em;
    font-weight: 700; 
}

.main2{
    box-shadow: var(--shadow);
    padding-top: 2em;
    padding-left: 1em;
    padding-bottom: 6em;
    padding-right: 1em;

}


.section-wrapper{
    grid-area: section;
    background-color: var(--bg-2);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
     grid-column-gap: 1em; 


}
.box1{
    align-self: center;
    text-align: center;
    color: var(--light);
}
h3{
    font-size: 1.2em;

}
.box1 p{
    font-size: 1em;
    padding: 1em;
}
.box2{
    align-self: center;
    text-align: center;
    color: var(--light);
}
.box2 p{
    font-size: 1em;
    padding: 1em;
}
.box3{
    align-self: center;
    text-align: center;
    color: var(--light);
}
.box3 p{
    font-size: 1em;
    padding: 1em;
}
.fas{
    color: var(--light);
    font-size: 50px;
    padding-bottom: .5em;
}

.footer{
    grid-area: footer;
    text-align: center;
    padding-top: 2.5em;
}

@media(max-width: 967px){

    .container{
        display: grid;
        font-family: 'Raleway', sans-serif;
        background-color: var(--bg-1);
        grid-row-gap: 1em;
        grid-column-gap: 1em;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 3fr 2fr 2fr 2fr 1fr;
        grid-template-areas:
        "menu"
        "head"
        "main"
        "main"
        "section"
        "footer"
    
    
        
    }
    
    .menu{
        grid-area: menu;
        margin-bottom: 0;
    
    }
    .menu ul{ 
        list-style-type: none; 
        padding: 0; 
        display: grid; 
        grid-column-gap: 20px; 
        grid-template-columns: repeat(5, 1fr); 
        margin: 0;
    } 
        
        .menu a{ 
        text-decoration: none; 
        color: var(--bg-2); 
        display: block; 
        padding: 0.8em;
        text-align: center; 
        box-shadow: var(--shadow); 
    } 
    
    
    .menu a:hover{
        opacity: 1;
        color: var( --light);
        background: var(--main-color);
        font-weight: bold;
        padding: 0.8em;
       box-shadow: var(--shadow);
    }
    
    .head{
        grid-area: head;
        background: url(../images/bannermidterm.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        box-shadow: var(--shadow);
        margin-top: 0;
    }
    .head h1{
        color: var(--light);
        padding-top: 10%;
       padding-left: 10%;
        padding-bottom: 5%;
       font-size: 2.5em;
    }
    .head p{
        color: var(--light);
        padding-left: 10%;
        padding-right: 10%;
        font-size: 20px;
    
    }
    .main-wrapper{
        grid-area: main;

    }
    
    
    .main1{
    box-shadow: var(--shadow);
    padding-top: 2em;
    padding-left: 1em;
    padding-bottom: 6em;
    padding-right: 1em;

    
    }
    h2{
        font-size: 1em;
        padding-bottom: 1em;
        font-weight: 700; 
    }
    
    .main2{
        box-shadow: var(--shadow);
        padding-top: 2em;
        padding-left: 1em;
        padding-bottom: 6em;
        padding-right: 1em;
    
    }
    
    
    .section-wrapper{
        grid-area: section;
        background-color: var(--bg-2);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
         grid-column-gap: 1em; 
  
    
    
    }
    .box1{
        align-self: center;
        text-align: center;
        color: var(--light);
    }
    h3{
        font-size: 1.2em;
    
    }
    .box1 p{
        font-size: 10px;
        padding: 1em;
    }
    .box2{
        align-self: center;
        text-align: center;
        color: var(--light);
    }
    .box2 p{
        font-size: 10px;
        padding: 1em;
    }
    .box3{
        align-self: center;
        text-align: center;
        color: var(--light);
    }
    .box3 p{
        font-size: 10px;
        padding: 1em;
    }
    .fas{
        color: var(--light);
        font-size: 40px;
        padding-bottom: .5em;
 
    }

    .footer{
        grid-area: footer;
        text-align: center;
 
    }
}